<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanjie.sts.mapper.ShoesPriceTrendMapper">

    <resultMap id="priceTrend" type="com.fanjie.sts.entity.vo.ShoesPriceTrend">
        <result column="spu_id" property="spuId"/>
        <result column="title" property="title"/>
        <result column="article_number" property="articleNumber"/>
        <collection property="sizeInfoList" ofType="com.fanjie.sts.entity.vo.SizeInfo">
            <result column="value" property="size"/>
            <result column="min_price" property="minPrice"/>
            <result column="trade_type" property="tradeType"/>
            <result column="create_time" property="date"/>
        </collection>
    </resultMap>

    <select id="selectShoesPriceTrend" resultMap="priceTrend">
        SELECT detail.spu_id as spu_id,
               detail.title as title,
               detail.article_number as article_number,
               p.`value` as value,
               price.min_price as min_price,
               price.create_time as create_time,
               price.trade_type as trade_type
        FROM product_details AS detail,
             product_sku AS sku,
             product_property AS p,
             product_price_info AS price
        WHERE detail.spu_id = p.spu_id
          AND p.property_value_id = sku.property_value_id
          AND sku.sku_id = price.sku_id
          AND article_number = #{articleNumber}
    </select>
</mapper>
